@page "/"


@using BwGoogleAuth

<GoogleAuth
Hide=true
ClientId="Your-client-id"
@bind-UserCredential=@usercredential
/>

@if (usercredential.IsLogged)
{
    

    <div>
    <ul>
      <li>Name:@usercredential.Name</li>
      <li>Email:@usercredential.Email</li>
      <li>User Id:@usercredential.UserId</li>

    </ul>  
    </div>

}


@code{


    public Credential usercredential= new Credential();


}